html {
  min-height: 100%;
  background: rgb(124,214,197); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(124,214,197,1) 0%, rgba(203,216,214,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,214,197,1)), color-stop(100%,rgba(203,216,214,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(124,214,197,1) 0%,rgba(203,216,214,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(124,214,197,1) 0%,rgba(203,216,214,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(124,214,197,1) 0%,rgba(203,216,214,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(124,214,197,1) 0%,rgba(203,216,214,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cd6c5', endColorstr='#cbd8d6',GradientType=0 ); /* IE6-9 */
}

#container  { margin: 0 0% 0 8%;}
#whale-container { display: block; float: left; width: 30%; height: 100%; padding: 7% 0 0 6%; }
#song-container  { display: block; float: left; width: 60%; height: 100%; padding: 10% 0 0px 25px;}

#whale-img       { width: 100%;}

#album           { max-height: 120px; margin: 20px 0 12px 5px; display: block;}

.song-images     { display: block;}

.play            { height: 50px;}
.download        { height: 50px;}
.songname        { margin-bottom: 7px; position: relative; }

.frog            { height: 50px; top: 6px; margin-left: 4px;}
.selfish         { height: 52px; top: 7px; margin-left: 5px;}
.reco            { height: 52px; top: 5px; margin-left: 4px;}
.formal          { height: 48px; top: 5px; margin-left: 5px;}

#credits         { width: 70%; margin-left: auto; margin-right: auto; display: block;}

.mp3player       { display: none;}
