html { height: 100%;}

body {
  height: 100%;
  background: rgb(124,214,197); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(124,214,197,1) 0%, rgba(203,216,214,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,214,197,1)), color-stop(100%,rgba(203,216,214,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(124,214,197,1) 0%,rgba(203,216,214,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(124,214,197,1) 0%,rgba(203,216,214,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(124,214,197,1) 0%,rgba(203,216,214,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(124,214,197,1) 0%,rgba(203,216,214,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cd6c5', endColorstr='#cbd8d6',GradientType=0 ); /* IE6-9 */
}

#container       { width: 70%; margin: auto; padding-top: 75px;}
#whale-container { display: inline-block; vertical-align: top; width: 46%;}
#song-container  { display: inline-block; vertical-align: top; width: 53%;}

#album           { max-height: 120px; margin: 20px 0 12px 5px; display: block;}


.song-images     { display: block;}

/* images */
.play            { width: 100%;}
.download        { width: 100%;}
.songname        { }

.frog           { width: 100%; }
.selfish        { width: 100%; }
.reco           { width: 100%; }
.formal         { width: 100%; }

/* links */
.play-link       { width: 8%; display:inline-block;}
.download-link   { width: 8%; display:inline-block;}
.song-name-link  { width: 75%; display:inline-block;}


.credits-div     { display: block; width: 600px; margin: auto;}
.credits         { }

.mp3player       { display: none;}
