// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// body {background-color: #C1DAD6;}




body {background-color: #C1DAD6;}
// body {background-image: -radial-gradient(color-stops(#c00, #fff, #00c 50px));}


#whale-container { display: block; float: left; margin: 6% 0 0 6%; }
#song-container  { display: block; float: left; margin: 6% 0 50px 12px;}

#whale-img       { max-width: 450px; width: 100%;}

#album           { max-height: 120px; margin: 20px 0 20px 25px; display: block;}

#songs           { list-style-type: none; float: left;}

.songname        { max-height: 55px; width: 70%; margin-left: 10px; display: inline-block;}
.play            { height: 55px; display: inline-block;}
.download        { height: 55px; display: inline-block;} 

#credits         { width: 70%; margin-left: auto; margin-right: auto; display: block;}

.mp3player       { display: none;}